/* CSS variables */
html {
  /* Light theme colors */
  --toggle-light: hsl(230, 22%, 74%);
  --bg-site-light: hsl(0, 0%, 100%);
  --bg-top-pattern-light: hsl(225, 100%, 98%);
  --bg-card-light: hsl(227, 47%, 96%);
  --bg-card-hover-light: hsl(227, 49%, 90%);
  --text-1-light: hsl(228, 12%, 44%);
  --text-2-light: hsl(230, 17%, 14%);

  /* Light theme gradients */
  --toggle-gradient-light: linear-gradient(
    to right,
    var(--toggle-light),
    var(--toggle-light)
  );

  /* Dark theme colors */
  --toggle-dark-1: hsl(210, 78%, 56%);
  --toggle-dark-2: hsl(146, 68%, 55%);
  --bg-site-dark: hsl(230, 17%, 14%);
  --bg-top-pattern-dark: hsl(232, 19%, 15%);
  --bg-card-dark: hsl(228, 28%, 20%);
  --bg-card-hover-dark: hsl(228, 25%, 25%);
  --text-1-dark: hsl(228, 34%, 66%);
  --text-2-dark: hsl(0, 0%, 100%);

  /* Dark theme gradients */
  --toggle-gradient-dark: linear-gradient(
    to right,
    var(--toggle-dark-1),
    var(--toggle-dark-2)
  );
}

:root {
  /* Fonts */
  --font: 'Inter', system-ui, sans-serif;
  --font-size-1: 0.875rem;
  --font-size-2: 1.5rem;
  --font-size-3: 2.25rem;
  --font-size-4: 3.5rem;
  --font-weight-1: 400;
  --font-weight-2: 700;
  --line-height: 1;

  /* Universal colors */
  --trend-up: hsl(163, 72%, 41%);
  --trend-down: hsl(356, 69%, 56%);
  --fb: hsl(208, 92%, 53%);
  --tw: hsl(203, 89%, 53%);
  --ig-1: hsl(37, 97%, 70%);
  --ig-2: hsl(329, 70%, 58%);
  --yt: hsl(348, 97%, 39%);

  /* Universal gradients */
  --facebook: linear-gradient(to right, var(--fb), var(--fb));
  --twitter: linear-gradient(to right, var(--tw), var(--tw));
  --instagram: linear-gradient(to right, var(--ig-1), var(--ig-2));
  --youtube: linear-gradient(to right, var(--yt), var(--yt));

  /* Light theme as default */
  color-scheme: light;

  /* Defaults */
  --toggle: var(--toggle-gradient-light);
  --bg-site: var(--bg-site-light);
  --bg-top-pattern: var(--bg-top-pattern-light);
  --bg-card: var(--bg-card-light);
  --bg-card-hover: var(--bg-card-hover-light);
  --text-1: var(--text-1-light);
  --text-2: var(--text-2-light);

  /* Sizes */
  --size-0: -0.25rem;
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 1rem;
  --size-4: 1.25rem;
  --size-5: 1.5rem;
  --size-6: 2rem;
  --size-7: 3rem;

  /* Borders */
  --radius-1: 0.3rem;
  --radius-2: 1rem;
  --radius-round: 1e5px;

  /* Easing */
  --easing-1: 0.5s ease-in-out;

  /* Breakpoints */
  --breakpoint-1: 375px;
  --breakpoint-2: 768px;
  --breakpoint-3: 1440px;
}

/* Media query for dark mode if prefrence is set in brwoser or OS */
@media (prefers-color-scheme: dark) {
  :root {
    /* Dark theme */
    color-scheme: dark;

    /* Defaults */
    --toggle: var(--toggle-gradient-dark);
    --bg-site: var(--bg-site-dark);
    --bg-top-pattern: var(--bg-top-pattern-dark);
    --bg-card: var(--bg-card-dark);
    --bg-card-hover: var(--bg-card-hover-dark);
    --text-1: var(--text-1-dark);
    --text-2: var(--text-2-dark);
  }
}

/* Light theme for manual switch */
[color-scheme='light'] {
  /* Light theme */
  color-scheme: light;

  /* Defaults */
  --toggle: var(--toggle-gradient-light);
  --bg-site: var(--bg-site-light);
  --bg-top-pattern: var(--bg-top-pattern-light);
  --bg-card: var(--bg-card-light);
  --bg-card-hover: var(--bg-card-hover-light);
  --text-1: var(--text-1-light);
  --text-2: var(--text-2-light);
}

/* Dark theme for manual switch */
[color-scheme='dark'] {
  /* Dark theme */
  color-scheme: dark;

  /* Defaults */
  --toggle: var(--toggle-gradient-dark);
  --bg-site: var(--bg-site-dark);
  --bg-top-pattern: var(--bg-top-pattern-dark);
  --bg-card: var(--bg-card-dark);
  --bg-card-hover: var(--bg-card-hover-dark);
  --text-1: var(--text-1-dark);
  --text-2: var(--text-2-dark);
}

/* Basic styles */
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  block-size: 100%;
  font-family: var(--font);
  line-height: var(--line-height);
}

body {
  min-block-size: 100%;
  display: grid;
  place-content: center;
  font-size: var(--font-size-1);
  color: var(--text-2);
  background-color: var(--bg-site);
}

img {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

/* Heading styles */
h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: var(--font-weight-2);
  line-height: var(--line-height-2);
}

h1,
h4 {
  font-size: var(--font-size-2);
}

h2 {
  font-size: var(--font-size-4);
}

h3 {
  font-size: var(--font-size-3);
}

/* Text styles */
p {
  font-weight: var(--font-weight-2);
  color: var(--text-1);
}

/* Link styles */
a {
  display: flex;
  align-items: center;
  cursor: pointer;
  touch-action: manipulation;
  margin: var(--size-0);
  padding: var(--size-1);
  text-decoration: inherit;
  text-underline-offset: 1px;
}

/* Main header styles */
.main-header {
  display: flex;
  flex-direction: column;
  max-inline-size: calc(var(--breakpoint-1) - 25px);
  inline-size: 90vw;
  margin-block: var(--size-7);
}

.header-title {
  padding-block-end: var(--size-2);
  border-block-end: 1px solid var(--text-1);
}

/* Theme switcher */
.theme-switcher {
  --thumb-size: var(--size-4);
  --thumb-color: var(--bg-site);
  --track-size: calc(var(--thumb-size) * 2.25);
  --track-padding: 2px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-start: var(--size-3);
  font-weight: var(--font-weight-2);
  color: var(--text-1);
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* Checkbox styles to make it a switch */
.theme-switcher > input {
  --thumb-position: 0%;

  box-sizing: content-box;
  display: grid;
  align-items: center;
  grid: [track] 1fr / [track] 1fr;
  inline-size: var(--track-size);
  block-size: var(--thumb-size);
  padding: var(--track-padding);
  flex-shrink: 0;
  appearance: none;
  pointer-events: none;
  outline-offset: 5px;
  background-image: var(--toggle);
  border: none;
  border-radius: var(--radius-round);
  transition: background-image var(--easing-1);
}

.theme-switcher:hover > input {
  background-image: var(--toggle-gradient-dark);
}

.theme-switcher > input::before {
  content: '';
  cursor: pointer;
  pointer-events: auto;
  grid-area: track;
  inline-size: var(--thumb-size);
  block-size: var(--thumb-size);
  background: var(--thumb-color);
  border-radius: var(--radius-round);
  transform: translateX(var(--thumb-position));
  transition: transform var(--easing-1);
}

.theme-switcher > input:checked {
  --thumb-position: calc(var(--track-size) - 100%);
}

/* Main styles */
main {
  display: grid;
  gap: var(--size-6);
  margin-block-end: var(--size-7);
}

/* General card styles */
.card {
  cursor: pointer;
  padding: var(--size-6);
  text-align: center;
  background-color: var(--bg-card);
  border-radius: var(--radius-1);
  transition: background-color var(--easing-1);
}

.card:hover {
  background-color: var(--bg-card-hover);
}

.card-header,
.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--size-2);
}

.card-footer,
.trend {
  gap: var(--size-1);
  padding-block-start: var(--size-4);
  font-weight: var(--font-weight-2);
}

.up {
  color: var(--trend-up);
}

.down {
  color: var(--trend-down);
}

/* Hero card styles */
.card-hero {
  position: relative;
  border-start-start-radius: 0;
  border-start-end-radius: 0;
}

/* Hero card title lines */
.card-hero::before {
  content: '';
  position: absolute;
  inset-block-start: -5px;
  inset-block-end: 5px;
  inset-inline-start: 0;
  inset-inline-end: 0;
  border-radius: var(--radius-1);
  z-index: -1;
}

.card-hero > .card-header {
  padding-block-end: var(--size-3);
}

.card-facebook::before {
  background-image: var(--facebook);
}

.card-twitter::before {
  background-image: var(--twitter);
}

.card-instagram::before {
  background-image: var(--instagram);
}

.card-youtube::before {
  background-image: var(--youtube);
}

/* Change the flow from the standard card */
.card-hero > .card-header,
.card-hero > .card-footer {
  justify-content: center;
}

/* Hero card text styles */
.card-hero span {
  display: block;
  padding-block: var(--size-2);
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  color: var(--text-1);
}

/* Section styles */
.overview {
  display: grid;
  gap: var(--size-4);
  margin-block-start: var(--size-5);
  margin-block-end: var(--size-7);
}

.trend {
  display: flex;
  align-items: center;
  gap: var(--size-1);
}

/* Responsive styles */
@media screen and (min-width: 768px) {
  .bg-pattern {
    content: '';
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: 100%;
    block-size: 0;
    border-end-start-radius: var(--radius-2);
    border-end-end-radius: var(--radius-2);
    background: var(--bg-top-pattern);
    z-index: -1;
  }

  .main-header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-inline-size: calc(var(--breakpoint-2) - 25px);
  }

  .header-title {
    border: none;
  }

  .header-title > p {
    margin-block-end: 0;
  }

  .theme-switcher {
    margin: 0;
    gap: var(--size-2);
  }

  main,
  .overview {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1440px) {
  body {
    place-content: start center;
  }

  .main-header {
    max-inline-size: calc(var(--breakpoint-3) - 25px);
  }

  main,
  .overview {
    grid-template-columns: repeat(4, 1fr);
  }
}
